<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_css', filename='index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('serve_js', filename='index.js') }}"></script>
</head>

<body style="background-color: rgb(40, 39, 39);">
    <header style="text-align: left;">
        <img type=button id="logo" src="/logo/logo2.png" alt="Logo">
        <button id="arrowButton">Søk ⏷</button>
        <div id="searchBar" style="display: none;">
            <form id="sortForm">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" id="id" name="id">
                </div>
                <div class="form-group">
                    <label for="place">Sted</label>
                    <select id="place" name="place"> 
                        <option>Select...</option>
                        <option value="bergen">Bergen</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="startTime">Start tidspunkt</label>
                    <input type="time" id="startTime" name="startTime">
                </div>
                <div class="form-group">
                    <label for="endTime">Slutt tidspunkt</label>
                    <input type="time" id="endTime" name="endTime">
                </div>
                <div class="form-group">
                    <label for="startDate">Start dato</label>
                    <input type="date" id="startDate" name="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">Slutt dato</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
                <div class="form-group">
                    <label for="kvalitet">Kvalitet</label>
                    <select id="kvalitet" name="kvalitet">
                        <option>Select...</option>
                        <option value="motion_blur">Motion Blur</option>
                        <option value="lav_belysning">Lav Belysning</option>
                        <option value="vaatt_dekk">Vått dekk</option>
                        <option value="urent_kamera">Urent Kamera</option>
                        <option value="godkjent">Godkjent</option>
                    </select>
                </div>
                <button type="button" id="resetButton">Reset</button>
            </form>
        </div>
    </header>
    <div id="content" style="background-color: LightGray;">
    </div>
</body>
</html>